
.start {
    background-color: antiquewhite;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    border: 2px solid black;
}

.weak {
    background-color: aqua;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

.okay {
    background-color: aquamarine;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

.awesome {
    background-color: pink;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

.password-feedback {
    font-weight: bold;
    size: 1.5em;
    padding: 10px;
    text-transform: uppercase;
}